<h1>Guitar Practice Schedule for <%= Date.today %></h1>
<% @categories.each do |c|  %>
    <% if c.recent_exercise  %>
        <h2><%= link_to c.name, category_path(c) %></h2>
        <% # TODO - check done exercise for today - don't show next exercise %>
        <% if c.recent_exercise %>
            <h3><%= c.recent_exercise.name %> in <%= c.recent_exercise.key.name %></h3>
            <% if c.recent_exercise.link %>
                <h4 class="inline">Link:</h4> <a href="<%= c.recent_exercise.link %>" target="_blank"><%= c.recent_exercise.link %></a>
            <% end  %>
            <% if c.recent_exercise.note %>
                <h4>Notes</h4>
                <p><%= c.recent_exercise.note %></p>
            <% end  %>
            <p>Last practiced: <%= c.recent_exercise.last_practiced.strftime("%a %d.%m.%Y") %></p>
            <p><%= link_to "Edit Exercise", edit_exercise_path(c.recent_exercise) %></p>
            <p><%= link_to "Show Archive", archive_path(c.recent_exercise) %></p>
            <%= link_to "Done", {controller: "exercises", action: "update_time", id: c.recent_exercise}, class: "btn btn-default" %>
        <% end %>
    <% end %>
<% end %>
